body {
	background-color: #fafafa;
	font-family: calibri;
	font-size:12pt;
}

#container {
	padding-bottom: 1em;
}

#login {
	margin: 10em auto;
	width: 25em;
	background:transparent;
}

.login-head {
	text-align: center;
}

.card {
	background:#FFFFFF;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;

	box-shadow:0px 1px 2px rgba(0,0,0,0.4);
	-moz-box-shadow:0px 1px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.4);

	padding:20px;

	margin-bottom:20px;
}
div.welkom_text{
	margin-bottom:20px;
}
.form-container {
	margin-bottom:20px;
}
.form-group {
	margin-bottom:10px;
}
.form-control {
	font-size:inherit;	
}

.message, .warning {
	padding: 10px;
	padding-top:5px;
	padding-bottom:5px;
	border: 1px solid #ccc;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.message {
	color: #819F00;
	background-color: #F0FFD1;
}
.warning {
	color: #F33;
	background-color: #FFF0D1;
	text-align:inherit;
}

#chat-container {
	width:50em;
	height:40em;
	margin:10em auto;
}

#chats {
	padding:0px;
}
.chats-head {
	font-size:15pt;
	font-weight: bold;
	padding:15px;
	border-bottom: 2px solid #ccc;
}

.chats-head img {
	width:30px;
	float:right;

	cursor:pointer;
}

.chat {
	padding:15px;
	cursor:pointer;
}
.chat:not(:last-child){
	border-bottom: 1px solid #ccc;
}
.chat label {
	font-weight: normal;
	cursor:pointer;
}

.row {
	margin:0;
}
.col-md-4, .col-md-8 {
	padding:0;
}

#chat-head {
	height:3em;
	padding:15px;
	font-size:15pt;
}

#chat-screen {
	margin-left:15px;
	height:40em;
	padding:0px;

	display:none;
}
#messages {
	height:33.9em;

	background:#fafafa;
	margin-left:2px;
	margin-right:2px;
	margin-bottom:2px;

	padding-top:15px;

	overflow-x:hidden;
	overflow-y:scroll;
}

.shadow {
	position:absolute;
    left:1.1em;
    top:3.7em;
    right:1.1em;
    bottom:3.6em;
    box-shadow: inset 0px 0px 3px rgba(0,0,0,0.4);
	-moz-box-shadow: inset 0px 0px 3px rgba(0,0,0,0.4);
	-webkit-box-shadow: inset 0px 0px 3px rgba(0,0,0,0.4);

	pointer-events: none;
}

#messages .chat-message {
	display:inline-block;
	padding:10px;
	margin:15px;
	margin-top:0px;
}

#messages .right {
	text-align:right;
}
#messages .left {
	text-align:left;
}

#send-message {
	margin-left:2px;
	margin-right:2px;
}
#send-message .form-group {
	width:84.7%;
	display:inline-block;
}
#send-message .send-button {
	display:inline-block;
	margin-left:0px;
	vertical-align: top;
}